/* the grid */
.grid-container {
    margin: auto;
    text-align: center;
    font-size: 0;
}

    .grid-row{
        display: inline-block;

    }
    .grid-cell {
        height: 60px;
        width:  60px;
        border: solid 1px #aaaaaa;

        background-color: #ffffff;
    }

    div.inline {
        display: inline-block;
        margin: 0 30px;
        text-align: center;
    }

.box {
    background-color: #ffffff;
    padding: 24px;
    border: solid 1px #efefef;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
}

.red {
    background-color: #8b0000;
}

.blue {
    background-color: #00008b;
}

.active {
    background-color: #dff0d8;
}

@media (max-width: 430px) {
    .grid-cell {
        width: 30px;
        height: 30px;
    }
}

@media (min-width: 430px) and (max-width: 768px){
    .grid-cell {
        width: 40px;
        height: 40px;

    }
}